pandas
streamlit
boto3
kafka-python
pyspark
apache-airflow
langchain
/*    --------   */

producer.py: Python script using Tweepy or Twitter API to push tweets to Kafka

consumer.py: Python script consuming Kafka topic and printing/storing tweets

config.json: Config template for Kafka settings

